/* src/App.css */

.layout {
  background-image: url("./assets/img/layout.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.main-content-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem 0;
}

/* This is the base style for the white box */
.layout-content {
  display: flex;
  width: 85%;
  background-color: #F1EBE4;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.primary-button {
  background-color: #7B6D8D;
  color: #F1EBE4;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-button:hover {
  background-color: #61566f;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  transform: translateY(-2px);
}

/* --- Responsive Styles for the main layout --- */
@media (max-width: 1024px) {
  .layout-content {
    flex-direction: column;
    width: 90%;
    height: auto; /* Let height grow with content */
  }
  .main-content-area {
    padding: 1rem 0; /* Reduce padding on smaller screens */
  }
}
