.home-content {
  display: flex;
  width: 85%;
  height: 85vh;
  background-color: #F1EBE4;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.home-header {
  font-family: montserrat;
  color: #718A43;
  width: 90%;
  margin-bottom: 2rem;
}

.home-text {
  font-family: Lato;
  font-size: large;
  color: #333333;
  margin-bottom: 1.5rem;
}

.links-image {
  margin-top: 1rem;
  display: flex;
  width: 91%;
}

.selfie {
  float: right;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-left: 1rem;
}

.navigation-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
