

.home-header {
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  color: #7B6D8D;
  margin-bottom: 2rem;
  text-align: left;
}

.home-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #333333;
  line-height: 1.6;
  text-align: left;
  /* This creates the space between the text and the buttons */
  margin-bottom: 3rem;
}
